{% if grafana_nginx_enable_ssl %}
server {
    listen {{ grafana_nginx_listen }};
    server_name {{ grafana_nginx_server_name }};

    return 301 https://{{ grafana_nginx_server_name }}$request_uri;
}
{% endif %}

server {

    {% if grafana_nginx_enable_ssl %}
      listen {{ grafana_nginx_listen }}:443 ssl;
    {% else %}
      listen {{ grafana_nginx_listen }};
    {% endif %}

    server_name {{ grafana_nginx_server_name }};

    {% if grafana_nginx_enable_ssl %}
      ssl on;
      ssl_certificate {{ grafana_nginx_ssl_path }}/{{ grafana_nginx_ssl_cert }};
      ssl_certificate_key {{ grafana_nginx_ssl_path }}/{{ grafana_nginx_ssl_key }};
    {% endif %}

    proxy_read_timeout 120s; # slow queries happen

    {% if grafana_nginx_access_log %}
      access_log {{ grafana_nginx_access_log }};
    {% endif %}

    {% if grafana_nginx_error_log %}
      error_log {{ grafana_nginx_error_log }};
    {% endif %}

    {% if grafana_nginx_htpasswd %}
      auth_basic "Password please!";
      auth_basic_user_file /var/www/grafana/grafana.htpasswd;
    {% endif %}

    expires -1;

    location / {
        root {{ grafana_root_path }}/dist;
    }

    location /es/{{ grafana_index }}/ {
        rewrite ^/es/({{ grafana_index }}/.*)$ /$1 break;
        proxy_pass {{ grafana_elasticsearch_url }};
    }

    location /graphite/ {
        rewrite ^/graphite/(.*)$ /$1 break;
        proxy_pass {{ grafana_graphite_url }};
    }

}
